<div data-aid="report-mini-peak-day" class="kReport kMini kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.engagement.insights' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent" *ngIf="_peakDay">
      <div class="peakDayHolder">
        <span class="peakDay">{{_peakDay}}</span>
	<span class="peakDayLable" *ngIf="_peakDay">{{'app.engagement.peak' | translate}}</span>
      </div>
      <div class="kValueHolder" *ngIf="_peakPlays">
        <i class="icon-small-play kBlue"></i>
        <span class="kVal">{{_peakPlays}}</span>
        <span class="kLabel">{{'app.engagement.plays' | translate}}</span>
      </div>
      <div class="kValueHolder" *ngIf="_peakMinutes">
        <i class="icon-small-time kOrange"></i>
        <span class="kVal">{{_peakMinutes}}</span>
        <span class="kLabel">{{'app.engagement.highlightsReport.sum_time_viewed' | translate}}</span>
      </div>
    </div>
    <div class="kReportContent kNoResults" *ngIf="!_isBusy && !_peakDay">
      <span>{{'app.common.noResults' | translate}}</span>
    </div>
  </k-area-blocker>
</div>

